$ui-blue-primary: #3366FF;
$ui-blue-10: #E0F0FF;
$ui-blue-20: #C5E0FA;
$ui-blue-30: #9EBFF7;
$ui-blue-40: #77A3FC;
$ui-blue-50: #4C85FF;
$ui-blue-70: #2A35FF;
$ui-blue-80: #2C20D4;
$ui-blue-90: #160C9C;
$ui-blue-100: #080261;
$content-area-light: #FFFFFF;
$content-area-dark: #2E2E2E;
$application-background-light: #EBEBEB;
$application-background-dark: #1F1F1F;
$primary-foreground-light: #1F1F1F;
$primary-foreground-dark: #DBDBDB;
$secondary-foreground-light: #686868;
$secondary-foreground-dark: #848484;
$focus-background-light: #DBDBDB;
$focus-background-dark: #525252;
$input-border-light: #BABABA;
$input-border-dark: #525252;
$green: #0CA919;
$red: #F03040;
$yellow: #FFD800;
$green: #0CA919;
$magenta: #CB2BD5;
