<div *ngIf=showLoader class="loader">
  <mat-progress-spinner class="example-margin" [color]="loaderColor" [mode]="mode" [value]="value">
  </mat-progress-spinner>
</div>

<div class="topRange mat-elevation-z4" 
    matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
    [matRippleColor]="color">
        <h2>Number Form With Card Button</h2>
</div>

<div class="field_block">
    <form class="range-top-form">
        <mat-form-field appearance="fill" class="example-full-width">
            <span matPrefix>Value From- &nbsp;</span>
            <input matInput min="0" max="100" type="number" placeholder="Value" [(ngModel)]="valueFrom"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </form>
    <form class="range-top-form">
        <mat-form-field appearance="fill" class="example-full-width">
            <span matPrefix>Value To- &nbsp;</span>
            <input matInput min="0" max="100" type="number" placeholder="Value" [(ngModel)]="valueTo"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </form>
    <div (click)="applyRangeTop()" class="ripple mat-elevation-z4" matRipple [matRippleCentered]="centered"
        [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
        [matRippleColor]="color">
        Click!
    </div>
</div>

<div class="topRange mat-elevation-z4" 
    matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
    [matRippleColor]="color">
        <h2>List of Cards</h2>
</div>

<div class="winners_block" style="background-color: #fff;">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <div class="winner_block">
          <!-- ngIf Else block -->
            <mat-chip *ngIf="!showWinnersElse; else elseBlock" style="height: auto;"
            style="height: auto;background-color: rgb(98, 196, 98)" >
                <p style = "font-size:25px" class="winner_parag">Condition for Template *ngIf Else block</p>
            </mat-chip>
            <mat-chip  #elseBlock style="height: auto;background-color: rgb(98, 196, 98)" 
                *ngFor="let winner of winnersList; index as ind">
                <button class="winner_btn" mat-fab color="accent">{{ind + 1}}</button>
                <p class="winner_parag" style = "font-size:25px">{{winner.userName}}</p>
            </mat-chip>

            <mat-chip style="height: auto;background-color: rgb(98, 196, 98)" 
            *ngFor="let winner of membersList; index as ind">
            <button class="winner_btn" mat-fab color="accent">{{ind + 1}}</button>
            <p class="winner_parag" style = "font-size:25px">{{winner.userName}}</p>
        </mat-chip>
        </div>
    </mat-chip-list>
</div>